
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ticket System</title>
    <meta name="description">
    <meta name="keywords">
    <!-- Favicons -->
    <link href="../public/img/NTI_logo.png" rel="icon">
    <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../public/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../public/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../public/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
</head>
<body>
    <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="../public/img/NTI_logo.png" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/employees">
                    <i class="bi bi-person"></i>
                    <span>Employees</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/tickets">
                    <i class="bi bi-card-list"></i>
                    <span>Tickets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/reports">
                    <i class="bi bi-files"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Tickets</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Tickets</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                        Info
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                        Time Entries
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <span style="color: orange; font-size: 18px; font-weight: bold;">Updating mode</span>
                                    {{#each status_dt.table1}}
                                    <form action="/editickets/{{id}}" method="post">
                                        <div class="row mb-3">
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label">Subject</label>
                                            <div class="col-sm-4">
                                                <input name="subject" style="margin-top: 10px;" id="subjct" class="form-control" value="{{subject}}" />
                                            </div>
                                            <label style="font-weight: bold" class="col-sm-2 col-form-label">Employee</label>
                                            <div class="col-sm-4">
                                                <label style="margin-top: 10px;">{{name}}</label>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label">Date</label>
                                            <div class="col-sm-4">
                                                <label style="margin-top: 10px;">{{date}}</label>
                                            </div>
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="">Status</label>
                                            <div class="col-sm-4">
                                                <label style="margin-top: 10px;">{{status}}</label>
                                                <select placeholder="Select Status" name="id_status" id="id_status" class="form-control" style="margin-top: 10px;">
                                                    <option value="0" disabled selected>Select an option</option>
                                                    {{#each status_dt.table2}}
                                                    <option value={{id}}>
                                                        {{description}}
                                                    </option>
                                                {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="">Description</label>
                                            <div class="col-sm-12">
                                                <textarea type="text" id="description" name="description" class="form-control">{{description}}</textarea>
                                            </div>
                                        </div>
                                        <button type="submit" style="margin-left: 77%" class="btn btn-primary">Save</button>
                                        <button type="submit" class="btn btn-secondary">Cancel</button>
                                    </form>
                                    {{/each}}
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <form action="/timentries/{{id}}" method="post">
                                        <div class="row mb-3">
                                            <label style="font-weight: bold" class="col-sm-2 col-form-label">Employee</label>
                                            <div class="col-sm-4">
                                                <select placeholder="Select Employees" name="id_employee" id="id_employee" class="form-control">
                                                    <option value="0" disabled selected>Select an option</option>
                                                    {{#each status_dt.table3}}
                                                    <option value="{{id}}">
                                                        {{name}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label">Date</label>
                                            <div class="col-sm-4">
                                                <input type="datetime-local" name="date_start" class="form-control">
                                            </div>
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label">To</label>
                                            <div class="col-sm-4">
                                                <input type="datetime-local" name="date_end" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label style="font-weight: bold;" class="col-sm-2 col-form-label">Note</label>
                                            <div class="col-sm-12">
                                                <textarea class="form-control" name="note" id="note" cols="70" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" style="margin-left: 77%" class="btn btn-primary">Save</button>
                                        <button type="submit" href="/tickets" class="btn btn-secondary">Cancel</button>
                                    </form>
                                    <hr>
                                    <table class="datatable">
                                        <tr>
                                            <th>ID</th>
                                            <th>Employee</th>
                                            <th>Date Start</th>
                                            <th>Date End</th>
                                            <th>Description</th>
                                        </tr>
                                        <tbody>
                                            {{#if status_dt.table4}}
                                            {{#each status_dt.table4}}
                                            <tr>
                                                <td>{{id}}</td>
                                                <td>{{name}}</td>
                                                <td>{{date_start}}</td>
                                                <td>{{date_end}}</td>
                                                <td>{{note}}</td>
                                            </tr>
                                            {{/each}}
                                            {{/if}}
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        <!-- End Default Tabs -->
                       </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer " class="footer ">
        <div class="copyright ">
            &copy; Copyright <strong><span>CB</span></strong>. All Rights Reserved
        </div>
    </footer>
    <!-- End Footer -->

    <a href="# " class="back-to-top d-flex align-items-center justify-content-center "><i class="bi bi-arrow-up-short "></i></a>

    <!-- Vendor JS Files -->
    <script src="../public/vendor/apexcharts/apexcharts.min.js "></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../public/vendor/chart.js/chart.min.js "></script>
    <script src="../public/vendor/echarts/echarts.min.js "></script>
    <script src="../public/vendor/quill/quill.min.js "></script>
    <script src="../public/vendor/simple-datatables/simple-datatables.js "></script>
    <script src="../public/vendor/tinymce/tinymce.min.js "></script>
    <script src="../public/vendor/php-email-form/validate.js "></script>

    <!-- Template Main JS File -->
    <script src="../public/js/main.js "></script>

</body>

</html>